apiVersion: v1
kind: Service
metadata:
  name: weather-app
  namespace: mv-makarov-1304
spec:
  type: NodePort
  selector:
    app: weather-app
  ports:
    - port: 5000
      targetPort: 5000
      nodePort: 30000
